@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

:root {
  --text-color: #ffffff;
  --text-background-color: #424242;
  --border-color:  #ffffff;
  --text-font-family: 'Roboto Mono', sans-serif;
}

body{
	/*Basic Font Styling*/
	font-family: var(--text-font-family);
	font-size:18px;
	color: var(--text-color);
  background-color: var(--text-background-color);
}

/* Style the tab */
.tab {
  overflow: hidden;
  background-color: #424242;
  color: var(--text-color);
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  color: var(--text-color);
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: var(--text-font-family);
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: var(--text-color);
  color: var(--text-background-color);
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #424242;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  color: var(--text-color);
  font-family: var(--text-font-family);
  border-top: none;
}


.b {
    display: inline-block;
    position: relative;
    margin: 1%;
    float: left;
    width: 23%;
    height: 400px;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: var(--text-background-color); 
    border: 2px solid var(--border-color);
    color: var(--text-color);
    padding: 15px 32px; 
    text-align: center;
    text-decoration: none;
    display: block;
    font-family: 'Roboto Mono', sans-serif;
	  font-size:18px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin: 0 auto
  }

.button_cooldown {
    margin: 0 auto;
    background-color: var(--text-background-color); 
    border: 2px solid var(--border-color);
    color: var(--text-color);
    font-family: 'Roboto Mono', sans-serif;
    text-align: center;
    text-decoration: none;
    padding: 15px 32px; 
    font-size: 16px;
    cursor: pointer;
    width: 100%;
  }
.button:hover {
    background-color: var(--text-color); 
    color: var(--text-background-color);
    border: 2px solid var(--text-background-color);
  }

.button_cooldown:hover {
    background-color: var(--text-color); 
    color: var(--text-background-color);
    border: 2px solid var(--text-background-color);
  }



@keyframes cooldown {
   0% { width: 100%; }
   100% { width: 0; }
}





#log-container { 
  overflow: hidden;
  height: 300px;
  font-family: 'Roboto Mono', sans-serif;
	font-size: 12px;
	color: var(--text-color); 
}

.future{
  display: none
}

